body {
}

.nserv {
    background-color: #8e1a23 !important;
}

.nserv--text {
    color: #8e1a23 !important;
}

.azul {
    background-color: #1b6181 !important;
}

.azul--text {
    color: #1b6181 !important;
}

.v-card__title {
    word-break: break-word !important;
}
